body {
    text-align: center;
    font-family: Arial Black; 
    font-size: 18px;
    background-color: #dadacf;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gem-counter {
    position: relative;
    top: 595px;
    left: 190px;
    color: #1241eb;;
}


.modal {
  background: #6377de;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  width: 500px;
  position: absolute;
  text-align: center;
  top: 30%;
}

.popup-text {
   text-align: center;
   font-size: 24px;
   padding: 0px 5px;
 }

 button {
   width: 180px;
   height: 40px;
   border-radius: 10px;
   font-size: 20px;
   font-weight: bold;
   background-color: #d5cabd;
   box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
   margin: 0px 20px 20px 20px;
   border-color: #d5cabd;
   cursor: pointer;
 }

 button:hover {
   background-color: #509854;
   border-color: #509854;

 }
